modules/Stepfunctions/state_machine.json
{
  "Comment": "Video pipeline with Rekognition + SES + SNS",
  "StartAt": "CheckBucketContents",
  "States": {
    "CheckBucketContents": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
      "Parameters": {
        "Bucket.$": "$.input_bucket",
        "Prefix": "raw/",
        "MaxKeys": 1
      },
      "ResultPath": "$.s3ListResult",
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.s3ListResult.Contents[0].Key",
          "StringMatches": "*.mp4",
          "Next": "LambdaSplitVideo"
        }
      ],
      "Default": "Fail"
    },
    "Fail": {
      "Type": "Fail",
      "Error": "NotVideoFormat",
      "Cause": "Only .mp4 and .avi allowed"
    },
    "LambdaSplitVideo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:${Region}:${AccountId}:function:${LambdaFunctionName1}",
        "Payload": {
          "bucket.$": "$.input_bucket",
          "key.$": "$.s3ListResult.Contents[0].Key"
        }
      },
      "ResultPath": "$.lambda1Result",
      "Next": "PutProcessingImages"
    },
    "PutProcessingImages": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
      "Parameters": {
        "Bucket": "${dump_bucket}",
        "Key": "processing/status.txt",
        "Body": "processing"
      },
      "Next": "RekognitionLambda"
    },
    "RekognitionLambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:${Region}:${AccountId}:function:${LambdaFunctionName2}",
        "Payload": {
          "images.$": "$.lambda1Result"
        }
      },
      "ResultPath": "$.rekognitionResult",
      "Next": "SaveResults"
    },
    "SaveResults": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
      "Parameters": {
        "Bucket": "MyData",
        "Key": "results/detection.json",
        "Body.$": "$.rekognitionResult"
      },
      "Next": "SESsendEmail"
    },
    "SESsendEmail": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ses:sendEmail",
      "Parameters": {
        "Destination": {
          "ToAddresses": ["alerts@example.com"]
        },
        "Message": {
          "Subject": { "Data": "Detection Results" },
          "Body": {
            "Text": {
              "Data": "Rekognition results stored in S3"
            }
          }
        },
        "Source": "noreply@example.com"
      },
      "Next": "SNSPublish"
    },
    "SNSPublish": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${SnsTopicArn}",
        "Message": "Detection complete. Results stored in S3."
      },
      "Next": "Cleanup"
    },
    "Cleanup": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject",
      "Parameters": {
        "Bucket": "MyData",
        "Key": "processing/status.txt"
      },
      "End": true
    }
  }
}
